.App-logo {
  height: 80px;
}

.App-header {
  background: URL(background.png);
  padding: 40px;
  color: white;
  text-align: center;
  font-size: 30px;
}

.App-intro {
  font-size: large;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
